server:
  port: 9527

spring:
  application:
    name: enterprise-gateway

  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
        namespace: public
      config:
        server-addr: 127.0.0.1:8848
        file-extension: yml
        namespace: public

    gateway:
      discovery:
        locator:
          # 开启从注册中心动态创建路由的功能，利用微服务名进行路由
          enabled: true
          # 小写服务名
          lower-case-service-id: true

      routes:
        # 认证服务路由
        - id: enterprise-auth
          uri: lb://enterprise-auth
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

        # 系统服务路由
        - id: enterprise-system
          uri: lb://enterprise-system
          predicates:
            - Path=/system/**
          filters:
            - StripPrefix=1

  # Redis 配置
  redis:
    host: 127.0.0.1
    port: 6379
    database: 0
    password:
    timeout: 10s
    lettuce:
      pool:
        # 连接池最大连接数
        max-active: 200
        # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms
        # 连接池中的最大空闲连接
        max-idle: 10
        # 连接池中的最小空闲连接
        min-idle: 0

# 日志配置
logging:
  level:
    com.enterprise: debug
    org.springframework.cloud.gateway: debug
